* {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    min-height: 100%;
}
  
  body {
    background-color: #4ea0ff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    

    
  }
  
  /* Style the header */
  .header {
    grid-area: header;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5px;
    
  }
  
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left left left middle middle middle' 
      'footer footer footer footer footer footer';
    grid-column-gap: 5px;
    
  } 
  
  .left,
  .middle,
  .right {
    padding: 5px;
    height: 3600px; /* Should be removed. Only for demonstration */
    background-image:linear-gradient(45deg, #2E0375, #8F51F4, #6107F2, #432673, #4E06C2, #542473, #3A0F75, #4D0675,#430261, #580375,#6D09AD,#7704AD, #AA02F2);
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
  }
  
  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #b85cf5;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
  }

  .icon {
    width: 36px;
    height: 36px;
  }