body {
    background-repeat: no-repeat;
    background-image:linear-gradient(45deg, #2E0375, #8F51F4, #6107F2, #432673, #4E06C2, #542473, #3A0F75, #4D0675,#430261, #580375,#6D09AD,#7704AD, #AA02F2);
    font-family: Tahoma;

}


.galeria {
    
    width: 2200px;
    max-width: 100%;
    height: 720px;
    max-height: auto;
    position: relative;
    overflow: hidden;
    background-image: cover;
}

.img-fluid{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 37s;
    animation-iteration-count: infinite;
    background-image: cover;
}

@keyframes animacao {
    25% {
        opacity: 1;
        
    }
    50% {
        opacity: 0;
    }


}

.img-fluid:nth-child(1) {
    background-image: cover;
    background-position: center;
    animation-delay: 1s;
}

.img-fluid:nth-child(2) {
    animation-delay: 10s;
    background-image: cover;
    background-position: center;
}

.img-fluid:nth-child(3) {
    animation-delay: 22s;
    background-image: cover;
    background-position: center;
}

.img-fluid:nth-child(4) {
    animation-delay: 31s;
    background-image: cover;
    background-position: center;
}

.img-fluid:nth-child(5) {
    animation-delay: 40s;
    background-image: cover;
    background-position: center;
}

.footer {
    grid-area: footer;
    background-color: #b85cf5;
    text-align: center;
  }

  .icon {
    width: 36px;
    height: 36px;
  }